@font-face {
  font-family: futura;
  src: url(../fonts/Futura-Bold.ttf);
}
@font-face {
  font-family: BebasNeue;
  src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: Saira;
  src: url(../fonts/Saira.ttf);
}
:root {
  --heading_font: futura;
  --font_1: BebasNeue;
  --font_2: Saira;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font_2);
  font-weight: 500;
}

html,
body {
  width: 100%;
  height: 100%;
}

#page1 {
  max-width: 100%;
  width: 100%;
  z-index: -1;
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url(../images/image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* position: fixed;
  top: 0; */
  overflow-y: hidden;
}
#page1 .logo {
  position: fixed;
  top: 35px;
  left: 40px;
  background-color: white;
  width: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2vw 0.5vw;
  border-radius: 20px;
  opacity: 0;
  /* height:he; */
}
#page1 .logo img {
  width: 100%;
}
#page1 nav {
  width: 70%;
  /* background-color: #fff; */
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7vw 3vw;
  padding-right: 1vw;
  border-radius: 40px;
  margin-top: 20px;
}
#page1 nav .left {
  display: flex;
  align-items: center;
  gap: 5vw;
}
#page1 nav .left h4 {
  font-size: 1.3vw;
  cursor: pointer;
  color: #fff;
  text-transform: capitalize;
}
#page1 nav .right {
  display: flex;
  align-items: center;
  gap: 2vw;
}
#page1 nav .right h3 {
  width: 100px;
  position: relative;
  text-align: center;
  /* background-color: blue; */
  font-weight: 700;
  font-size: 1.5vw;
  text-transform: uppercase;
  cursor: pointer;
}
#page1 nav .right h3:nth-child(1) {
  border-radius: 40px;
  border: solid darkgreen 2px;
  color: #fff;
  padding: 0.8vh 2vw;
  padding-top: 0vh;
  box-sizing: content-box;
}
#page1 nav .right h3:nth-child(2) {
  border-radius: 40px;
  padding: 0.8vh 2vw;
  background-color: darkgreen;
  padding-top: 0vh;
  box-sizing: content-box;
  color: #fff;
}
#page1 nav .right h3 span {
  display: inline-block;
  font-size: 0.8vw;
  position: absolute;
  top: 25px;
  left: 0;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  /* background-color: beige; */
}

#page1 .heading h1 {
  font-size: 17vw;
  padding: 0;
  font-family: var(--heading_font);
  color: white;
  text-shadow: 1px 1px 50px #000000;
  letter-spacing: 10px;
}

/* page2 */

#page2 {
  /* margin-top: 100vh; */
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #010000;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0vh 5vw;
  background-size: cover;
}
#page2 .heading {
  width: 100%;
  text-align: center;
  font-family: var(--font_1);
  letter-spacing: 30px;
  color: white;
  font-size: 8vw;
  text-transform: uppercase;
  white-space: nowrap;
}

#page2 .second_page2 {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}
#page2 .second_page2 .box {
  background-image: url(../images/download.jpeg);
  background-position: center;
  width: 40%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #aaaaaa;
  margin-bottom: 2vw;
  /* margin: 20px; */
}
#page2 .second_page2 .box h2 {
  font-size: 2vw;
  text-transform: capitalize;
  background-color: aquamarine;
  border-radius: 40px;
  padding: 0vw 5vw;
}

/* page3 */
#page3 {
  width: 100%;
  height: 100vh;

  background: linear-gradient(
    180deg,
    rgba(1, 0, 0, 1) 0%,
    rgba(37, 51, 49, 1) 47%,
    rgba(147, 209, 204, 1) 100%
  );
}
#page3 .heading {
  width: 100%;
  text-align: center;
  font-family: var(--font_1);
  letter-spacing: 30px;
  color: white;
  font-size: 8vw;
  text-transform: uppercase;
  white-space: nowrap;
}
#page3 .second_page3{
    display: flex;
    justify-content: space-around;
    gap:4vw;
}
#page3 .second_page3 .box{
    width: 27vw;
    height: 33vw;
    background-color: #fff;
    color: #111;
    border-radius: 20px;
}
/* page4 */
#page4 {
  width: 100%;
  height: 100vh;

  background-color: #93d1cc;
}
